.check-out-form {
    width: 42%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25px;
    -webkit-box-shadow: 0px 0px 55px -24px rgba(0,0,0,0.70);
    -moz-box-shadow: 0px 0px 55px -24px rgba(0,0,0,0.70);
    box-shadow: 0px 0px 55px -24px rgba(0,0,0,0.70);
}
.form-title{
    width: 100%;
    margin-bottom: 20px;
    font-size: 30px;
}

.check-out-button {
    width: 80%;
    padding: 10px;
    font-size: 20px;
    background-color: #ccb428;
    border: none;
    color: white;
    cursor: pointer;
    align-self: center;
}