.check-out-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 70px;
    margin-top: 20px;
    justify-content: space-around;
}

.check-out-container > .button-go-back-container {
    width: 100%;
    margin-bottom: 20px;
}
.check-out-products-container > .cart-product-container {
    width: 100%;
    height: auto;
}

.check-out-products-container {
    display: flex;
    flex-direction: column;
}


.cart-each-product {
    width: 100%;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px gray;
    height: 160px;
    display: flex;
    flex-wrap:wrap ;
}
.cart-each-product-categories {
    border: none;
    height: 20px;
    color: gray;
    justify-content:flex-start
}

.cart-each-product-categories > .cart-each-product-name {
    margin-right: 130px;
}

.cart-each-product-categories > .cart-each-product-quantity {
    margin-right: 60px;
}

.cart-each-product > img {
    width: 70px;
    object-fit: cover;
}


.cart-each-product > h6 {
    font-size: 15px;
}

.cart-each-product-name-price > h6 {
    font-size: 15px;
    width: 180px;
}

.cart-icon {
    cursor: pointer
}

.check-out-products-container > .cart-resume {
    background-color: rgb(240, 240, 240);
    margin-top: 20px;
    width: 80%;
    height: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.check-out-products-container > .cart-resume > h4 {
   display: none;
}
.cart-resume > h3 {
    font-size: 30px;
    margin-bottom: 60px;
    text-align: center;

}

